<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAObXVEsIA6W31E1_magJth4cEFMDTRkn8</string>
	<key>GCM_SENDER_ID</key>
	<string>331297986045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rongo</string>
	<key>PROJECT_ID</key>
	<string>rongo-8a4e5</string>
	<key>STORAGE_BUCKET</key>
	<string>rongo-8a4e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331297986045:ios:12a740c6dc7cfa54abb594</string>
</dict>
</plist>